{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>請輸入以及確認你的新密碼.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">新密碼:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">確定密碼:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="修改密碼" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>密碼重設失敗！！</h1>
        <p>非法連結, 可以已經被使用過了. 請重新請求重設密碼.</p>
    {% endif %}
{% endblock %}